<div class="container d-flex justify-content-center">
  <%= simple_form_for @product do |f| %>
    <%= f.input :title %>
    <%= f.input :type %>
    <%= f.input :description %>
    <%= f.input :rating %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.button :submit, "Editar", data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
