
<div class="container mt-5">
   <p>Import your JSON file to update this dashboard</p>
</div>

<div class="container d-flex justify-content-center">
  <%= simple_form_for @product, method: 'post' do |f| %>
    <%= f.file %>
    <%= f.submit 'Send' %>
  <% end %>
</div>


<div class="container d-flex justify-content-center align-content-center align-items-center mt-5 mb-5">
  <div class="side-info-box bg-light card-body shadow-sm r-border-card f-color">
    <div class="row justify-content-center ">
      <div class="my-3 col-10">
        <table class="table table-striped border">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Type</th>
              <th scope="col">Rating</th>
              <th scope="col">Price</th>
              <th scope="col">Created</th>
              <% if current_user %>
                <th scope="col">Actions</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= link_to product.title, product_path(product) %></td>
                <td><%= product.type %></td>
                <td><%= product.rating %></td>
                <td><%= product.price.to_f / 100  %></td>
                
                <td><%= product.created_at.strftime("%d/%m/%Y") %></td>
                <% if current_user %>
                  <td>
                    <%= link_to edit_product_path(product) do %>
                      <i class="far fa-edit"></i> Edit 
                    <% end %>
                    <%= link_to product_path(product), data: { confirm: 'Are you sure?' }, method: :delete do %>
                      <i class="far fa-trash-alt"></i> Delete
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

