<div class="container">
  <div class="photo-show card card-body shadow-sm p-3 mb-5 mt-5 bg-white txt-center r-border-card">
    <div class="d-flex justify-content-start">
      <div>
        <%= cl_image_tag  @product.photo.key, height: 250, width: 450, crop: :fill, class: "r-border-pic" %>
      </div>
  
      <div class="pl-5">
        <div class="info-header">
          <h1 class="show-name"> <%= @product.title %> </h1>
        </div>
        <!-- Product Price and type -->
        <div class="info-price">
          <p class="show-price font-weight-normal f-color">
            <i class="fas fa-dollar-sign sz-fav"> </i> <%= @product.price %>
            <span class="badge badge-qt align-middle">Type <%= @product.type %> </span> </p>
        </div>
        <!-- Product Description -->
        <p class="show-title nav nav-tabs f-color m-2">Description</p>
        <p class="show-txt f-color"><%= @product.description  %> </p>
      </div>
    </div>
  </div>
</div>